.pointer :hover{
          cursor: pointer;
}

.pointer {
          vertical-align: super;
}
.icone {
          position: relative !important;
          top: -24px !important;  
}
.img {
          margin-right: 1em;
}
.animal{
          padding-top: .7em;
}

::ng-deep .collection .collection-item.avatar {
          min-height: 60px;
          padding-left: 72px;
          position: relative;
}
::ng-deep .collection {
          border: 0px;
}
.chip-separator {
  margin-top: -0.8em;
  margin-left: 1em;
  line-height: 22px;
  height: 20px;
  font-size: 12px;
  z-index: 10;
}

.collection{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}