<h1 class="yellow-text text-darken-1 center-align">Sobre</h1>
<div class="white-text">
          <p>Versão: 0.0.2</p>
          <p>Resumo: A versão contém as seguintes funcionalidades:
                    Registro de Óbito, Login com Google
          </p>
          <hr>
          <p>Versão: 0.0.1</p>
          <p>Resumo: A versão contém as seguintes funcionalidades:
                    Cadastro de Animais, Pesar Animais, Verificar o Histórico de Peso de um animal Selecionado.
          </p>
</div>
          