<h1 class="yellow-text text-darken-1 center-align">Sobre</h1>
<div class="white-text">
  <p>Versão: 0.0.12</p>
  <p>Resumo: 
    Adicionado possibilidade de sincronizar dados.
  </p>
  <hr>
  <p>Versão: 0.0.11</p>
  <p>Resumo: 
    Adicionado Funcionalidade para atualização de versão.
  </p>
  <hr>
  <p>Versão: 0.0.10</p>
  <p>Resumo: 
    Adicionado registro de vacinação.
  </p>
  <hr>
  <p>Versão: 0.0.9</p>
  <p>Resumo: 
    Adicionado registro de vermifugação.
  </p>
  <hr>
  <p>Versão: 0.0.8</p>
  <p>Resumo: 
    Alterado ícone de óbito, e o modo de salvar imagens.
  </p>
  <hr>
  <p>Versão: 0.0.7</p>
  <p>Resumo: 
    Adicionado funcionalidade de salvar uma foto do bichinho.
  </p>
  <hr>
  <p>Versão: 0.0.6</p>
  <p>Resumo: 
    Adicionado mensagens quando não houver registros disponíveis.
  </p>
  <hr>
  <p>Versão: 0.0.5</p>
  <p>Resumo: 
    Corrigido cabeçalho, configurando propriedades do PWA.
  </p>
  <hr>
  <p>Versão: 0.0.4</p>
  <p>Resumo: 
    Adicionado AuthGuard, Corrigido formato de datas, Alterado propriedades de loading
  </p>
  <hr>
  <p>Versão: 0.0.3</p>
  <p>Resumo: Melhoria nos endpoints de segurança
  </p>
  <hr>
  <p>Versão: 0.0.2</p>
  <p>Resumo: A versão contém as seguintes funcionalidades:
    Registro de Óbito, Login com Google
  </p>
  <hr>
  <p>Versão: 0.0.1</p>
  <p>Resumo: A versão contém as seguintes funcionalidades:
    Cadastro de Animais, Pesar Animais, Verificar o Histórico de Peso de um animal Selecionado.
  </p>
  <hr>
  <p>
    Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </p>
  <p>
    Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
  </p>
  <hr>
  <p>Sugestões?</p>
  <p>
    Caso você tenha uma idéia para adicionar nesse APP, pode enviar uma mensagem para mim no  
    <a href="https://www.facebook.com/leorochaz" target="_blank">Facebook</a>
  </p>
</div>
