<mz-navbar navbarClass="purple darken-4" width="300">
          
          <mz-navbar-item-container  [align]="'left'">
                    <button class="purple darken-4" mz-button id="btn-sidenav" [flat]="true" [float]="true">
                              <i mz-icon-mdi [align]="'left'" [icon]="'menu'" [size]="'36px'"> </i>
                    </button>
          </mz-navbar-item-container>
          <mz-navbar-item-container  [align]="'center'">
                    <a [routerLink]="['/']" class="brand-logo"> Meu Pet Lindo</a>                    
          </mz-navbar-item-container>
</mz-navbar>