<h1 class="yellow-text text-darken-1 center-align">Pesar meu Bichinho!</h1>

<form #f="ngForm" (ngSubmit)="cadastrar(f)">

  <mz-select-container>
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'dog'"></i>
    <select required mz-select id="options-select" [label]="'Escolha um Animalzinho'" [placeholder]="'Escolha um Animalzinho'" name="idAnimal" [(ngModel)]="idAnimal" >
      <option *ngFor="let item of listaAnimais" class="left circle" [value]="item.id">{{item.nome}} </option>
    </select>
  </mz-select-container>

  <mz-input-container>
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'calendar'">
    </i>
    <input mz-datepicker [(ngModel)]="dataPesagem" 
    name="dataPesagem" class="white-text" [label]="'Quando foi feita a pesagem?'"
    [options]="options" id="datepicker" type="number">
  </mz-input-container>

  <mz-input-container>
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'weight-kilogram'"></i>
    <input mz-input [(ngModel)]="peso"
                              name="peso"
                              class="white-text" [label]="'Qual o peso do seu bichinho?'" 
                              length="150" type="text">
  </mz-input-container>

  <div class="right-align">
    <br />
    <button mz-button [large]="true" class="orange accent-3 white-text" type="submit">
      <i mz-icon-mdi [align]="'left'" [icon]="'content-save'" [size]="'36px'"> </i>
      Adicionar
    </button>
  </div>
</form>
