<h1 class="yellow-text text-darken-1 center-align">
  Vermifugar meu Bichinho!</h1>

<form #f="ngForm" (ngSubmit)="cadastrar(f)">

  <mz-select-container>
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'dog'"></i>
    <select required mz-select id="options-select" [label]="'Escolha um Animalzinho'"
      [placeholder]="'Escolha um Animalzinho'" name="idAnimal" [(ngModel)]="idAnimal">
      <option *ngFor="let item of listaAnimais" class="left circle" [value]="item.id">{{item.nome}} </option>
    </select>
  </mz-select-container>
  
    <mz-input-container>
      <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'pill'"></i>
      <input mz-input [(ngModel)]="nome" name="nome" class="white-text" [label]="'Qual vermifugo você usou?'"
        length="150" type="text">
    </mz-input-container>

    <mz-input-container>
      <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'calendar-arrow-right'">
      </i>
      <input mz-datepicker [(ngModel)]="dataVermifugo" name="dataVermifugo" class="white-text"
        [label]="'Quando foi feita a vermifugação?'" [options]="options" id="datepicker">
    </mz-input-container>

    <mz-input-container>
      <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'calendar'">
      </i>
      <input mz-datepicker [(ngModel)]="dataProximoVermifugo" name="dataProximoVermifugo" class="white-text"
        [label]="'Quando será a próxima vermifugação?'" [options]="options" id="proximopicker">
    </mz-input-container>

  <div class="right-align">
    <br />
    <button mz-button [large]="true" class="orange accent-3 white-text" type="submit">
      <i mz-icon-mdi [align]="'left'" [icon]="'content-save'" [size]="'36px'"> </i>
      Adicionar
    </button>
  </div>
</form>
