<app-imagem-animal [src]="srcImg"></app-imagem-animal>
<h1 class="yellow-text text-darken-1 center-align">{{animal?.nome}}</h1>
<div class="yellow-text text-darken-1 center-align info" id="data-nascimento">
  <i mz-icon-mdi [align]="'center'" [icon]="'cake-variant'" [size]="'large'" ></i>
  {{animal?.dataNascimento | date: 'dd/MM/yyyy' }}
</div>
<div class="yellow-text text-darken-1 center-align info" *ngIf="animal?.dataAdocao"  id="data-adocao">
  <i mz-icon-mdi [align]="'center'" [icon]="'home-heart'" [size]="'large'" ></i>
  {{animal?.dataAdocao | date: 'dd/MM/yyyy' }}
</div>
<div class="yellow-text text-darken-1 center-align info" *ngIf="animal?.dataObito" id="data-obito">
  <i mz-icon-mdi [align]="'center'" [icon]="'star'" [size]="'large'"></i>
  {{animal?.dataObito | date: 'dd/MM/yyyy' }}
</div>
<br>
<div class="white-text text-darken-1 center-align" *ngIf="carregando">
  Por favor aguarde, estamos carregando as informações do seu bichinho.
</div>
<div *ngIf="!carregando">

  

  <section id="secao-vacina">
    <div class="yellow-text text-darken-1 center-align">
      <h4>Vacinas</h4>
    </div>

    <div class="white-text text-darken-1 center-align" *ngIf="!carregando && listaVacina.length === 0">
      <p>
        Ainda não encontramos nenhum registro de vacina do seu bichinho, clique no botão abaixo para
        adicionar.
      </p>
    </div>

    <div *ngIf="!carregando && listaVacina.length > 0">
      <div class="row">
        <div class="col s12 m6  " *ngFor="let item of listaVacina">
          <div class="card">
            <div class="card-content ">
              <div class="row no-margin-bottom">
                <div class="col s10 m10  no-padding">
                  <span class="card-title">Vacina: <strong>{{ item.nome }}</strong> </span>
                </div>
                <div class="col s2 m2 no-padding">
                  <div class="red-text right-align ">
                    <i mz-icon-mdi [icon]="'delete'" (click)="excluirVacina(item.id)"></i>
                  </div>
                </div>

                <div class="col s12 m6  no-padding">
                  Data da Vacina: <strong>{{ item.dataVacina | date: 'dd/MM/yyyy' }}</strong><br>
                </div>
                <div class="col s12 m6  no-padding">
                  Próxima Vacina: <strong>{{ item.dataProximaVacina | date: 'dd/MM/yyyy' }}</strong>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-align">
      <a mz-button class="orange accent-3 white-text" [float]='false' [routerLink]="'/vacinar'"
        [queryParams]="{ animal: idAnimal }">
        Vacinar
      </a>
    </div>
    <br>
  </section>
  <hr>
  <section id="secao-vermifugacoes">
    <div class="yellow-text text-darken-1 center-align">
      <h4>Vermifugações</h4>
    </div>


    <div class="white-text text-darken-1 center-align" *ngIf="!carregando && listaVermifugo.length === 0">
      <p>
        Não encontramos nenhum registro de pesagem para o seu bichinho, clique no botão abaixo para
        adicionar.
      </p>
    </div>

    <div *ngIf="!carregando && listaVermifugo.length > 0">
      <div class="row">
        <div class="col s12 m6  " *ngFor="let item of listaVermifugo">
          <div class="card">
            <div class="card-content ">
              <div class="row no-margin-bottom">
                <div class="col s10 m10  no-padding">
                  <span class="card-title">Vermifugo: <strong>{{ item.nome }}</strong> </span>
                </div>
                <div class="col s2 m2 no-padding">
                  <div class="red-text right-align ">
                    <i mz-icon-mdi [icon]="'delete'" (click)="excluirVermifugo(item.id)"></i>
                  </div>
                </div>

                <div class="col s12 m6  no-padding">
                  Data da Vermifugação: <strong>{{ item.dataVermifugo | date: 'dd/MM/yyyy' }}</strong><br>
                </div>
                <div class="col s12 m6  no-padding">
                  Próxima Vermifugação: <strong>{{ item.dataProximoVermifugo | date: 'dd/MM/yyyy' }}</strong>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-align">
      <a mz-button class="orange accent-3 white-text" [float]='false' [routerLink]="'/vermifugar'"
        [queryParams]="{ animal: idAnimal }">
        Vermifugar
      </a>
    </div>
  </section>
  <br>
  <hr>
  
  <section id="secao-peso">

    <div class="yellow-text text-darken-1 center-align" *ngIf="!carregando ">
      <h4>Registro de Peso</h4>
    </div>

    <div class="white-text text-darken-1 center-align" *ngIf="!carregando && listaPeso.length === 0">
      <p>
        Parece que você ainda não adicionou um registro de pesagem para o seu bichinho, clique no botão abaixo para
        adicionar.
      </p>
    </div>

    <div style="display: block;" *ngIf="listaPeso != null && listaPeso.length > 0">
      <canvas class="grafico" baseChart height=350 [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [chartType]="'line'"></canvas>
    </div>
    <div class="right-align">
      <a mz-button class="orange accent-3 white-text" [float]='false' [routerLink]="'/pesar'"
        [queryParams]="{ animal: idAnimal }">
        Pesar
      </a>
    </div>
    <br>
    <mz-collection *ngIf="listaPeso != null && listaPeso.length > 0">
      <mz-collection-item *ngFor="let item of listaPeso">
        Data: {{ item.dataPesagem | date: 'dd/MM/yyyy' }}, Peso: {{ item.peso }}
        <a class="red-text pointer" (click)="excluirPeso(item.id)" mz-secondary-content>
          <i mz-icon-mdi [icon]="'delete'"></i></a>
      </mz-collection-item>

    </mz-collection>
    <br>
  </section>

</div>
