.grafico {
  background-color: white;
  margin-bottom: 2em;
}

@media only screen and (max-width: 920px) {
  .grafico {
    height: 400px !important;
  }
}

h1 {
  margin-bottom: .2em !important;
}
.info{
  font-size: 18px;
}

.no-padding{
  padding: 0px;
}
.no-margin-bottom{
  margin-bottom: 5px !important;
}

hr{
  border: .5px solid #d500f9 !important;
}