.grafico {
  background-color: white;
  margin-bottom: 10px;
}

@media only screen and (max-width: 920px) {
  .grafico {
    height: 400px !important;
  }
}

h1 {
  margin-bottom: .2em !important;
}
.info{
  font-size: 18px;
}