<div class="col l12 carregando center-align" >
  <img src="https://img.icons8.com/color/96/000000/dog-house.png"/><br>
  
  <h1 class="yellow-text center-align">Meu Pet Lindo</h1>
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-yellow-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <p class="white-text center-align">Conectando ao servidor, aguarde.</p>
  
</div>