<mz-sidenav 
  [id]="'sidenav'"
  [collapseButtonId]="'btn-sidenav'"
  [backgroundClass]="'purple accent-3'"
  [fixed]="'true'">
  <mz-sidenav-header>
    <div class="logo">
      <a [routerLink]="['/']" (click)="fecharMenu()">
        <img src="https://img.icons8.com/color/96/000000/dog-house.png"/>
      </a>
      <h4 [routerLink]="['/']" (click)="fecharMenu()">Meu Pet Lindo</h4>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-link class="center-align" *ngIf="estaLogado">
    <a [routerLink]="['/meus-bichinhos']" routerLinkActive="active" (click)="fecharMenu()">Meus Bichinhos</a>
    <a [routerLink]="['/cadastrar']" routerLinkActive="active" (click)="fecharMenu()" >Adicionar um Animalzinho</a>
    <a [routerLink]="['/pesar']" routerLinkActive="active" (click)="fecharMenu()"  >Pesar meu Bichinho</a>
  </mz-sidenav-link>
  <mz-sidenav-link class="center-align">
    <a [routerLink]="['/sobre']" routerLinkActive="active" (click)="fecharMenu()">Sobre</a>
  </mz-sidenav-link>
  <app-logout *ngIf="estaLogado"></app-logout>
</mz-sidenav>