<h1 class="yellow-text text-darken-1 center-align">Cadastrar um Animalzinho!</h1>
<form #f="ngForm" (ngSubmit)="cadastrar(f)">
  <input type="hidden" [(ngModel)]="id" name='id'>
  <div class="center-align">
    <app-image-upload [src]="srcImagem" (trocarImagemEvent)="alterarImagem($event)"></app-image-upload>
  </div>
  <mz-input-container>
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'dog'">
    </i>
    <input mz-input [(ngModel)]="nome"
      name="nome"
      class="white-text" [label]="'Qual o nome do seu bichinho?'" 
      length="150" type="text" required >
  </mz-input-container>

  <mz-input-container (click)="$event.stopPropagation()">
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'calendar'">
    </i>
    <input mz-datepicker [(ngModel)]="dataNascimento" 
      name="dataNascimento" class="white-text" [label]="'E a data de nascimento?'"
      [options]="options" id="datepicker" type="text">
  </mz-input-container>

  <mz-input-container (click)="$event.stopPropagation()">
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'calendar-heart'">
    </i>
    <input mz-datepicker [(ngModel)]="dataAdocao" 
      name="dataAdocao" class="white-text" [label]="'Desde de quando esse bicinho está com você?'"
      [options]="options" id="datepickerAdocao" type="text">
  </mz-input-container>

  <mz-checkbox-container>
    <input mz-checkbox [(ngModel)]="declararObito" 
      name="declararObito"
      class="white-text checkbox-orange "
      [filledIn]="true"
      [label]="'Declarar Óbito'"
      id="checkbox-id"
      type="checkbox">
  </mz-checkbox-container>

  <mz-input-container *ngIf="declararObito" (click)="$event.stopPropagation()">
    <i mz-icon-mdi mz-input-prefix class="yellow-text" [icon]="'christianity'">
    </i>
    <input mz-datepicker [(ngModel)]="dataObito" 
      name="dataObito" class="white-text" [label]="'Sinto muito. Qual a data de óbito?'"
      [options]="options" id="dataObito" type="text">
  </mz-input-container>

  <div class="right-align">
    <br />
    <button mz-button [large]="true" class="orange accent-3 white-text"  type="submit">
      <i mz-icon-mdi [align]="'left'" [icon]="'cards-heart'" [size]="'36px'"> </i>
      Salvar
    </button>
  </div>
</form>
